/* Memilih font-family sesuai urutan prioritas */
html {
    font-family: 'Outfit', 'Playfair Display', 'Poppins', 'Roboto', sans-serif;
    display: flex;
    min-height: 1000px;
}

/* Mengatur margin dan padding untuk semua elemen */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ECE7E2;
}

.main{
    flex-grow: .1;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.header-box {
    background-color: #ffffff;
    width: 80vw;
    text-align: center;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3vh;
}

.header-box h1, .header-box h2 {
    font-size: 10vh;
}

.layout {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center; /* "left" diganti menjadi "center" */
    margin-bottom: 10px;
    background-color: #ffffff;
}

.layout label {
    padding: 2vw;
}

.layout select {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: auto;
    margin-bottom: auto;
}

.layout .selector {
    height: 5vh;
}

.content {
    width: 80vw;
    min-height: 300px;
    background-color: #ffffff;
}
